/* FilterBar.css */

:root {
  --primary-color: #ff0000; /* Default color, replace with your primary color */
}

.filter-bar-container {
  position: fixed;
  left: 0;

  width: 200px; /* Set initial width */
  overflow-y: auto; /* Enable vertical scroll */
  transition: top 0.3s ease; /* Add smooth transition */
}

.filter-bar-content {
  background-color: var(--primary-color); /* Use primary color */
  padding: 10px;
}

.filter-bar-container.scrolled {
  top: 100; /* Adjust as per your navbar height */
}

@media (max-width: 300px) {
  .filter-bar-container {
    width: 100%; /* Set width to 100% on smaller screens */
  }
}
